<h1>Contenido</h1>

<!-- Esto es un comentario -->

<img src="https://i.pinimg.com/474x/99/6e/41/996e417022f12267401ba472ffafe944.jpg">

<form>
    <input type="text">
    <input type="password" name="" id="">
</form>
